<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660039495297-nl2im7lr6djg9tkcan96u646ftpu676p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660039495297-nl2im7lr6djg9tkcan96u646ftpu676p</string>
	<key>API_KEY</key>
	<string>AIzaSyAdhQR7TJxjwBk_NIQBqJnGaQz8XwCt1HE</string>
	<key>GCM_SENDER_ID</key>
	<string>660039495297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webdezstudio.LetsChat</string>
	<key>PROJECT_ID</key>
	<string>letschat-3e5ad</string>
	<key>STORAGE_BUCKET</key>
	<string>letschat-3e5ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660039495297:ios:15d305a7d7e468ba6a2780</string>
</dict>
</plist>